extends layout/main-layout.pug

block style
    <link rel="stylesheet" href="/css/shop.css">

block content
     main 
            each product in item 
                h2.main-h1 Your product Details is here
                .content-bar
                    li.main-h1-tag Product_Name is #{product.title}
                    li.main-h1-tag Product_ID is #{product.id}
                    
